<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Test users - Awesome python webpp</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/uikit.min.css" />
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>
    </head>
    <body>
        <h1>All users</h1>
        {% for u in users %}
        <p>{{ u.name }} /{{ u.email }}</p>
        {% endfor %}
    </body>
</html>
